@use "base/variables" as v;
@use "base/mixins" as m;

//Contenido anidado
.header{
    background-color: v.$verde;

  //Agrega el mq a header y tambien añade este color al archivo mixins dinamicante
    @include m.telefono {
      color: wheat;
    }

    .contenido-header{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: v.$blanco;
        margin: 0;
    }
}

//Se crea un nuevo selector en vez de anidarlos debido a que quedaría demasiado grande el selector
.navegacion-pr{

    display: flex;
    gap: 2rem;

    a {
        color: v.$blanco;

        &:hover{
            color: v.$amarillo;
        }
    }


}

