@use "../base/variables" as v;
@use "../base/mixins" as m;

.video{

    //Los elementos hijo podran posicionarse dentro del padre sin salirse
    position: relative;

    //Todo el overlay estará dentro del padre, posicionado al centro de él
    .overlay{
        position: absolute;
        background: linear-gradient(
            270deg,
            rgba(v.$morado, 60%),
            rgba( darken(v.$morado, 20%), 90%)
        );

        inset: 0; //Para hacer que abarque todo el espacio del padre, o sea el div .video
    }

    video {

    }
}

.contenido-video{
    h2 {
        
    }

    p{

    }
}